select {
    background-color: pink;
    border-radius: 20px;
    font-size: 50px;
    color: #fff;
    text-align: center;
    appearance: none;
    /* select박스에서 appearance로 화살표 없애고 */
    /* background-image: url(); */
    /* 배경이미지 자체에 화살표 넣으면 깔끔 */
    -webkit-appearance: none;
    /* 사파리에서 화살표 안없어지는 문제 해결 */
    border: none;
    /* 파이어폭스에서는 이상한 테두리 남아서 없애줘야함 */
    /* 브라우저마다 다 다르다 부들... */
  }

  option {
    background: #fff;
    color: palevioletred;
    /* 옵션창 꾸밀 순 있지만 여기서 해도 의미가 없는게 */
    /* 모바일 환경마다 다 다르다... 굳이?  */
  }

  /* 직접 셀렉트 박스 만들기 */
  h2 {
    margin: 30px;
  }

  .btn-select {
    width: 200px;
    height: 40px;
    background: #fff;
    color: #000;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: left;
    padding: 13px 0 13px 14px;
    position: relative;
 }

 .btn-select::after{
     content: '';
     position: absolute;
     width: 10px;
     height: 10px;
     background-image: url(./img-select/icon-Triangle-down.png);
     right: 0;
     margin-right: 16px;
 }



  .list-member {
    display: none;
    margin-top: 9px;
    width: 200px;
    height: 213px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    padding: 4px 0;
  }

  .list-member.on {
    display: block;
  }

  .btn-select:active + .list-member {
    display: block;
  }

  .list-member li {
    height: 30px;
    width: 200px;

  }

  .list-member li button {
    display: block;
    width: 200px;
    height: 40px;
    background-color: #fff;
    border:none;
    text-align: left;
    padding: 12px 0 12px 18px;
    font-size: 14px;
    line-height: 16px;
   

  }

  .list-member li:nth-child(n+2){
    margin-top: 12px;
  }

  .list-member li button:hover{
    
    
    width: 183px;
    height: 30px;
    background-color: #F8E4FF;
    border-radius: 8px;
    
  }