/* @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


button{
  font-family: Spoqa Han Sans Neo;
} */

@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url(./font/SpoqaHanSansNeo-Medium.ttf);
}
body, button{
  font-family: Spoqa Han Sans Neo;
}

main{
  padding: 0 24px 25px 24px;
}

.loginbox{
  width: 520px;
  height: 712px;
  background-color: white;
  border:1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
}

.cont-logintitle{
  text-align: center;
  padding: 20px 188px 44px;
  line-height: 20px;
  position: relative;
}

.cont-logintitle::after{
  content: '';
  position: absolute;
  display: block;
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  left: 0;
  margin-top: 15px;
}

.cont-inputlogin .txt-wenivdesc{
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}

button, input{
  width: 472px;
  height: 50px;
  border-radius: 5px;
  border:none;
}

button{
  cursor: pointer;
}

.input-id, .input-pw{
  display: block;
  padding-left: 16px;
  box-sizing: border-box;
  border:1px solid #c4c4c4;
  margin-bottom: 10px;
}

.btn-login{
  background-color: #2F80ED;
  font-size: 18px;
  line-height: 22px;
  color: white;
  margin-bottom: 20px;
}

.input-pw{
  margin-bottom: 17px;
}

input::placeholder{
  margin-left: 16px;
  font-size: 16px;
  line-height: 20px;
}

.btn-login{
  display: block;
}

.link-sign_link-findidpw{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.link-sign_link-findidpw li a{
  color:#767676;
  margin: 0 12px 0 12px;
  font-size: 14px;
  line-height: 18px;
}


.list-signin::after{
  content: '';
  position: absolute;
  width: 2px;
  height: 16px;
  border-left: 1px solid #c4c4c4;
  
}


.line-contour{
  width: 26px;
  font-size: 14px;
  margin: 0 auto 20px;

}

.cont-anotherlogin{
  display: flex;
  flex-direction: column;
}


.txt-maintain{

  color: #767676;
  
}


input[type="checkbox"]{

  display: none;
}

input[type="checkbox"]+label span{
  display: inline-block;
  width: 22px;
  height: 22px;
  border:1px solid #767676;
  border-radius: 22px;
  box-sizing: border-box;
  padding: 8.5px 6.5px 8px 7px;
  vertical-align: top;

  margin:-3px 8px 21px 0;
}

input[type="checkbox"]+label span::before{
  content: '';
  position: absolute;
  display: block;
  width: 5.5px;
  height: 8.5px;
  border: 1px solid #767676;
  border-top: none;
  border-left: none;
  transform:rotate(45deg);
  margin-top: -6px;
}

input[type="checkbox"]:checked + label span{
 background-color: #2F80ED;
 border-color:#2F80ED ;
}
input[type="checkbox"]:checked + label span::before{
  
 border-color: white;
  
}

.line-contour{
  font-size: 14px;
  line-height: 18px;
  color: #767676;
}

.line-contour::after{
  content: '';
  position: absolute;
  display: block;
  width: 210px;
  border:1px solid #C4C4C4;
  background-color: #C4C4C4;
  margin-left: 38px;
  margin-top: -11px;
}

.line-contour::before{
  content: '';
  position: absolute;
  display: block;
  width: 210px;
  border:1px solid #C4C4C4;
  background-color: #C4C4C4;
  margin-left: -222px;
  margin-top: 7px;
}

.btn-accountlogin{
  background: white;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: #767676;
  
  padding: 11px 0 11px 12px;
  margin-bottom: 10px;
}

.google{
  border: 1px solid #767676;
}

.google::before{
  content: '';
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(./img/Google-logo.png);
  background-size: cover;
  margin-top: -4px;
}

.facebook{
  border: 1px solid #2D9CDB;
}

.facebook::before{
  content: '';
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(./img/facebook.png);
  background-size: cover;
  margin-top: -4px;
}

.naver{
  border: 1px solid #00BF18;
}

.naver::before{
  content: '';
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(./img/naver-logo.png);
  background-size: cover;
  margin-top: -4px;
}

.kakao{
  border: 1px solid #F2C94C;
}

.kakao::before{
  content: '';
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(./img/message-circle.png);
  background-size: cover;
  margin-top: -4px;
}

.btn-close{
  font-size: 0;
  width: 16px;
  height: 16px;
  background-image: url(./img/close.png);
  background-size: cover;
  background-color: white;
  position: absolute;
  top:0;
  margin: 22px 0 0 455px;
}