$font-main:'Noto Sans KR', sans-serif;
$background-color: #EAE8FE, #fff, #6327FE;
@mixin font-sizeline($fontsize,$lineheight) {
    font-size: $fontsize;
    line-height: $lineheight;
}

@mixin flex-controll($justify:left, $align:left, $direction:row, $iswarp:nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $iswarp;
}

body{
    font-family: $font-main;
    background-color:nth($background-color,1);
}

header{
    width: 100%;
    @include flex-controll(center);
    margin-bottom: 67px;
}

.img-logo{
    width: 386px;
}

#main-section{
    @include flex-controll(center,center);
    column-gap: 28px;
}