body{
    font-family: 'Noto Sans KR', sans-serif;
    background: #EAE8FE;
}

.txt-hide{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 67px;
}

.img-logo{
    width: 386px;
}

#main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-vending_machine{
    width: 360px;
    height: 545px;
    
    box-sizing: border-box;
    padding: 31px 27px 28px 27px;
    margin-right: 28px;
    background-color: #fff;
}

.section-my_info{
    width: 360px;
    height: 545px;
    border: 1px solid black;
}

.list-item{
    
    display: flex;
    flex-wrap: wrap;
    gap:12px;
}

.list-item li:nth-child(1) button::after{
    content: '';
    position: absolute;
    width: 94px;
    height: 130px;
    border: 3px solid #6327FE;
    border-radius: 10px;
    margin-top: -11px;
}




.list-item li:nth-child(2) button::before{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.8);
    margin-top: -10px;
    border-radius: 5px;
}

.list-item li:nth-child(2) button::after{
    content: '';
    position: absolute;
    display: block;
    width: 57px;
    height: 45px;
    background-image: url(../img/Sold-out.png);
    background-size: cover;
    z-index: 3;
}



.list-item li:nth-child(5) button::after{
    content: '';
    position: absolute;
    width: 94px;
    height: 130px;
    border: 3px solid #6327FE;
    border-radius: 10px;
    margin-top: -11px;
}

.list-item li button strong:nth-child(3){
    background-color: #6327FE;
    color: #fff;
    border-radius: 50px;
    padding: 5px 16px 5px 15px;
}

.btn-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 11px;
    width: 94px;
    height: 130px;
    
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

.btn-item img{
    width: 36px;
    height: 65px;
    margin-bottom: 7.5px;
    
}

.list-item .btn-item strong{
    font-size: 9px;
    line-height: 13px;
    margin-bottom: 7px;
    color: #333333;
}

.list-item .btn-item strong:last-child{
    font-size: 12px;
    line-height: 100%;
    
}

.warp-bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    
}


.info-balance{
    
    border-radius: 5px;
    width: 200px;
    height: 33px;
    font-size: 14px;
    line-height: 20px;
    
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 10px 7px 10px;
    margin-bottom: 11px;
    background-color: #EAE8FE;
}

.warp-bottom .btn-change{
    font-size: 13px;
    line-height: 19px;
    width: 94px;
    height: 33px;
    
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);

}

.inp-deposit{
    width: 200px;
    height: 33px;
    padding: 6px 0 8px 6px;
    box-sizing: border-box;
    margin-bottom: 12px;
    background-color: #fff;
    border:1px solid gray;
    border-radius: 5px;
    
}

.btn-deposit{
    width: 94px;
    height: 33px;
    font-size: 13px;
    line-height: 19px;
    
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    
}

.cont-get{
    width: 200px;
    height: 106px;
    border: 1px solid gray;
    padding: 12px 18px 0 12px;
    box-sizing: border-box;
    overflow:hidden auto;
    background: #EAE8FE;
    border-radius: 5px;
}

.cont-get::-webkit-scrollbar{
    width: 10px;
    background: none;
}
.cont-get::-webkit-scrollbar-thumb{
    
    height: 79px;
    background: white;
    border-radius: 50px;
    background-clip: padding-box;
    border: 3px solid transparent;
    
}

.cont-get ul li{
    width: 170px;
    height: 46px;
    
    padding: 6px 8px 7px 10px;
    box-sizing: border-box;
    display: flex;
    
    align-items: center;
    position: relative;
    margin-bottom: 6px;
    border-radius: 5px;
    background-color: #fff;
}

.cont-get ul li img{
    width: 18px;
    height: 33px;
    margin-right: 10px;
}

.cont-get ul li .txt-item_name{
    font-size: 9px;
    line-height: 13px;
    
}

.cont-get ul li .num-counter{
    font-size: 14px;
    line-height: 20px;
    border: 1px solid gray;
    padding: 4px 11px 6px 11px;
    box-sizing: border-box;
    position: absolute;
    right: 8px;
    border-radius: 5px;
}

.btn-get{
    width: 94px;
    height: 106px;
    font-size: 13px;
    line-height: 19px;
    
    border-radius: 5px;
    background-color: #6327FE;
    color: #fff;
    font-weight: bold;
}

/* my-info */

.section-my_info{
    box-sizing: border-box;
    padding: 9px 27px 0;
    position: relative;
    text-align: center;
    border:none;
    background-color: #fff;
}

.txt-hand_money{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 10px 6px 10px;
    margin : 0 0 54px 0;
    height: 32px;
    
    border-radius: 5px;
    background-color: #EAE8FE;

    font-size: 14px;

}

.txt-hand_money::before{
    content: '';
    position: absolute;
    display: block;
    height: 20px;
    right: 0;
    left: 0;
    top:50px;
    background: #EAE8FE;
}

.section-my_info .txt-get_item{
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    
}

.section-my_info .cont-get{
    margin-top: 13px;
    margin-bottom: 6px;
    width: 100%;
    height: 364px;
    
}
/* 스크롤 생성을 위한 */
.section-my_info .cont-get ul{
    height: 1000px;
}

.section-my_info .cont-get ul li{
    width: 276px;
    height: 46px;

}




.txt-total{
    position: absolute;
    right: 0;
    margin-right: 27px;
    font-size: 12px;
    line-height: 17px;
}

input::placeholder{

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #BDBDBD;
}